.todoItem {
	padding: 2px 6px;
	margin: 6px;
	display: flex;
	justify-content: space-between;
	background-color: #a8cdc9;
}

.todoItem:hover {
	background-color: #94bab4;
}

:global .overflow {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	width: 300px;
}
